.of-button {
  position: relative;
  overflow: hidden;

  margin: 0;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-decoration: none;

  color: #000;

  background: linear-gradient(to right, #000 50%, #FFF544 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  transition:
    background-position .4s ease,
    color .4s ease;
}

.of-button:hover {
  background-position: left bottom;
  color: #fff;
}

.of-button img {
  margin-left: 10px;
  vertical-align: middle;
  content: url('https://cdn.shopify.com/s/files/1/0705/7807/7862/files/button_arrow_black.svg?v=1756367317');
}

.of-button:hover img {
  content: url('https://cdn.shopify.com/s/files/1/0705/7807/7862/files/button_arrow_white.svg?v=1756361827');
}


/* Secondary */

.of-button-scandory {
  color: #fff;

  background: linear-gradient(to right, #FFF544 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;

  transition:
    background-position .4s ease,
    color .4s ease;
}

.of-button-scandory:hover {
  background-position: left bottom;
  color: #000;
}

.of-button-scandory img {
  content: url('https://cdn.shopify.com/s/files/1/0705/7807/7862/files/button_arrow_white.svg?v=1756361827');
}

.of-button-scandory:hover img {
  content: url('https://cdn.shopify.com/s/files/1/0705/7807/7862/files/button_arrow_black.svg?v=1756367317');
}